<div>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Systemy urządzeń mobilnych
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Systemy urządzeń mobilnych</ion-title>
      </ion-toolbar>
    </ion-header>

    <div id="container">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <strong>Ustawienia</strong>
          </ion-col>
          <ion-col>
            <ion-button class="ion-activatable ripple-parent" (click)="presentModal()">
              Otwórz ustawienia
              <ion-ripple-effect></ion-ripple-effect>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</div>

